<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>home</title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<style>
    .headline{
        height:60px;
        width:50%;
        text-align:left;
        background-color:#00bfff;
        margin:0 auto;
        line-height:60px;
    }
    .hang{
        align:center;
        valign:middle;
        height:50px;
    }
</style>
<body>
<div id="headline" class="headline" >
    <h1>用户列表</h1>
</div>
<div style="text-align: center">
    <div  style="margin-left: 390px">
        <table border="1" width="65%" data-pagination="true" data-side-pagination="client" data-page-size="3">
            <thead>
            <tr class="hang">
                <th style="padding-right: 10px">id</th>
                <th style="padding-right: 10px">username</th>
                <th style="padding-right: 10px">sex</th>
                <th style="padding-right: 10px">address</th>
            </tr>
            </thead>
            <tbody>
            <!--each来进行for循环求值-->
            <tr  class="hang" th:each="topic : ${topics}">
                <th scope="row" th:text="${topic.tid}"></th>
                <td th:text="${topic.tid}"></td>
            </tr>
            </tbody>

        </table>
        <table border="1" width="65%">
            <tr class="hang">
                <th colspan="4">
                    欢迎
                </th>
        </table>
        <tr>
    </div>
</div>

</body>
</html>

